.details {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    gap: 30px;
    .description {
        line-height: 23px;

        .text {
            margin: 40px 0;
        }
        p {
            span {
                font-weight: 700;
            }
        }
    }
}
